/* ----------
[Login]

88888b. 888 .d88b.  .d88b.  .d88b. 88888b.
888 "88b888d88P"88bd8P  Y8bd88""88b888 "88b
888  888888888  88888888888888  888888  888
888 d88P888Y88b 888Y8b.    Y88..88P888  888
88888P" 888 "Y88888 "Y8888  "Y88P" 888  888
888             888
888        Y8b d88P
888         "Y88P"

   ---------- */
.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width:300px !important;
  color:#4b4b4b;
}
.login-form,input{
  margin-bottom:10px !important;
  border-radius:20px !important;
  font-size:13px !important;
}
input[type=text]{
  background-color:#ebebeb;
}
input[type=email]{
  background-color:#ebebeb;
}
input[type=password]{
  background-color:#ebebeb;
}
.login-form-title{
  color:#ecf0f1;
  padding:0px !important;
  margin:0px !important;
}
small{
  color:#95a5a6;
}
a{
  color:#bdc3c7 !important;
}
.login-button{
  height:40px;
  border-radius:20px;
  background-color:#2c3e50;
  border-color:#2c3e50;
  color:#ecf0f1;
}
