<!DOCTYPE html>
<html>
<head>
    <link href="/styles/main.css" type="text/css" rel="stylesheet" />
    <script src="./scripts/socket.io.slim.js"></script>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/jquery-3.3.1.min.js"></script>
    <script src="./scripts/jquery-ui.min.js"></script>
    <meta charset="utf-8">
    <title>Pigeon</title>
</head>
<body>

    {{{body}}}

</body>
</html>
