//Main.pug
link(href='/styles/main.css' type='text/css' rel='stylesheet')
script(src='./scripts/socket.io.slim.js')
script(src='./scripts/main.js')
script(src='./scripts/userLocation.js')
script(src='./scripts/map.js')
script(src='./scripts/mapStyles.js')
script(src='./scripts/jquery-3.3.1.min.js')
script(src='./scripts/jquery-ui.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAMJD247_8OsCHjHQUhkeoHJ8FVgWq76Y0')

// HUD ELEMENTS OVER MAP
.app 
  img(src='./assets/userIcon.svg')

#map
  
  
