//Main.pug
link(href='/styles/main.css' type='text/css' rel='stylesheet')
script(src='./scripts/socket.io.slim.js')
script(src='./scripts/main.js')
script(src='./scripts/userLocation.js')
script(src='./scripts/jquery-3.3.1.min.js')
script(src='./scripts/jquery-ui.min.js')

// HUD ELEMENTS OVER MAP
.app 
  .user

.map
  
  
