<!--Main.pug-->
<link href="/styles/main.css" type="text/css" rel="stylesheet" />
<script src="./scripts/socket.io.slim.js"></script>
<script src="./scripts/main.js"></script>
<script src="./scripts/userLocation.js"></script>
<script src="./scripts/map.js"></script>
<script src="./scripts/mapStyles.js"></script>
<script src="./scripts/jquery-3.3.1.min.js"></script>
<script src="./scripts/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMJD247_8OsCHjHQUhkeoHJ8FVgWq76Y0"></script>
<!-- HUD ELEMENTS OVER MAP-->
<div class="app"> </div>
<div id="map"></div>
