<!--

[Pigeon Project]
_ __  _  __ _  ___  ___  _ __
| '_ \| |/ _` |/ _ \/ _ \| '_ \
| |_) | | (_| |  __/ (_) | | | |
| .__/|_|\__, |\___|\___/|_| |_|
| |       __/ |
|_|      |___/

"You have to accept the fact that sometimes
you are the pigeon, and sometimes you are the statue."
  - Claude Chabrol

Developed by the Pigeon Project
Author: Jacob James Rezendes, Parker Tenove
Author URL:
License: MIT License Copyright (c) 2018 James Rezendes, Parker Tenove
License URL:
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Landing/Register -->
	<title>Register | Pigeon</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="application-name" content=""/>
	<meta name="keywords" content="">
	<meta name="author" content="James Rezendes ,Parker Tenove">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Service Worker -->
	<script src=""></script>
	<!-- Animate.css -->
	<link rel="stylesheet" href="styles/style.css">
	<!-- Semantic UI-->
	<link rel="stylesheet" href="styles/semantic.min.css">
	<!-- Main stylesheet -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- Chrome -->
	<link rel="manifest" href="">
	<meta name="theme-color" content="">
	<!-- Safari -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href=""/>
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href=""/>
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Favicons -->
	<link rel="icon" type="image/png" href="" sizes="196x196"/>
	<link rel="icon" type="image/png" href="" sizes="96x96"/>
	<link rel="icon" type="image/png" href="" sizes="32x32"/>
	<link rel="icon" type="image/png" href="" sizes="16x16"/>
	<link rel="icon" type="image/png" href="" sizes="128x128"/>
	<!-- IE & Microsoft Tiles -->
	<meta name="msapplication-TileColor" content=""/>
  <!-- 144x144 -->
	<meta name="msapplication-TileImage" content=""/>
  <!-- -70x70 -->
	<meta name="msapplication-square70x70logo" content=""/>
  <!-- 150x150-->
	<meta name="msapplication-square150x150logo" content=""/>
  <!-- 310x150 -->
	<meta name="msapplication-wide310x150logo" content=""/>
  <!-- 310x310 -->
	<meta name="msapplication-square310x310logo" content=""/>
  <!-- Jquery 3.1.1-->
	<script src="scripts/jquery-v3.js"></script>
	<!-- Semantic JS -->
	<script src="scripts/semantic.min.js"></script>
</head>
<body>
	<h1>Test</h1>
</body>
<!-- Fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- The End -->
</html>
